<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Trey - PHP</string>
	<key>uuid</key>
	<string>6C9D7E3F-284B-405E-8C5A-7D4019DBA1F4</string>
</dict>
</plist>
